/*font-family: 'Syncopate', sans-serif; */

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

#main {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  min-height: 100vh;
}

#main>article {
  display: flex;
  margin-left: 20px;
  flex: 1 1 50vw;
  order: 2;
  flex-direction: column;
  justify-content: center;
}

#about-content-name {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  font-size: 2em;
}

#about-content-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
}

#content {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 20px auto;
  align-content: center;
  text-align: center;
}

#main>aside {
  flex: 1 1 40vw;
  order: 3;
  display: flex;
  justify-content: center;
  height: 100vh;

}

img {
  border-radius: 5px 5px 0 0;
}

aside img {
  flex-direction: row;
  max-height: 80vh;
  align-self: center;
  max-width: calc(100vw - 20px);
}

#main-nav {
  display: flex;
  justify-content: space-evenly;
  order: -1;
}

#logo {
  color: white;
  background: rgb(237, 110, 37);
  align-self: flex-end;
  justify-self: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  font-size: 3em;
  order: 1;
  padding-left: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-nav-list {
  order: 2;
  width: 80%;
}

#main-nav-list ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  order: 2;
}

#main-nav-list li {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  flex: 3;
  align-self: center;
}

#main-nav-list a {
  text-decoration: none;
  transition: 0.5s;
  padding: 2px;
  color: rgb(237, 110, 37);
}

a:link {
  text-decoration: none;
}

#main-nav-list .social {
  flex: 1;
}

#main-nav-list a:hover, #main-nav-list a:focus {
  color: rgb(245, 222, 179);
  background: rgba(0, 206, 209);
  border-radius: 5px;
}

.current {
  color: rgb(55, 158, 45) !important;
}

.profilepic {
  max-height: 30vh;
  width: auto;
}

footer {
  background: rgb(211, 207, 174);
  width: 100vw;
  height: 3vh;
  text-align: center;
  /* align-self: flex-start; */
  order: 10;
}

/*CSS for portfolio page*/

#main>#portfolio {
 display: flex;
 min-height: 100vh;
 max-width: 100vw;
 flex-wrap: wrap;
 justify-content: space-around;
}

.card {
  height: 255px;
  display: flex;
  /* flex: 1 1 100vw; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  position: relative;
}

.container>img {
  height: 250px;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.5rem;
  margin: auto;
  align-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(208, 140, 76, 0.89);
  overflow: hidden;
  height: 25px;
  transition: 0.8s ease;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.4rem;
  margin: auto;
  align-content: center;
  text-align: center;
}
#portfolio a {
  text-decoration: none;
  transition: 0.5s;
  padding: 2px;
  color: rgb(5, 128, 26);
}
#portfolio a:hover, #portfolio a:focus {
  color: rgb(125, 210, 236);
  background: rgba(153, 93, 61, 0.719);
  border-radius: 5px;
}

.container:hover .overlay {
  height: 80%;
}

/*CSS for contact page*/
input, textarea {
  outline: none;
  border: none;
}
form {
  display: flex;
  flex-direction: column;
}
.form-wrapper {
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
  width: 30vw;
  text-align: left;
  margin-bottom: 25px;
}
.form-wrapper>span {
text-align: left;
width: 30vw;
}
.inputName, .inputEmail, .inputMessage {
  width: 30vw;
}

@media all and (max-width: 1000px) {
  #logo {
    align-self: flex-start;
  }
  #main {
    flex-wrap: wrap;
  }
  .main-nav a {
    /* max-width: 500px; */
    font-size: 2rem;
  }
  #main-nav-list ul {
    flex-wrap: wrap;
  }
  /* In order for wrap to work, the children need a basis. */
  #main-nav-list li {
    flex: 1 1 50%;
  }
  #main-nav-list .social {
    flex: 1 1 20%;
  }
}

@media all and (max-width: 500px) {
  #logo {
    width: 100vw;
    flex: 1 1 100%;
  }
  #main-nav {
    flex-wrap: wrap;
  }
  #main-nav-list li {
    flex-basis: 100%;
  }
}