/*font-family: 'Syncopate', sans-serif; */

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

#main {
  display: flex;
  order: 1;
}

#main>article {
  margin-left: 20px;
  flex: 1;
  flex: 1 0 40vw;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main>article>div {
  margin: auto;
  align-content: center;
}

#about-content-name {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  font-size: 2em;
}

#about-content-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

#content {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 20px auto;
  align-content: center;
  text-align: center;
  align-content: center;
}

#main>aside {
  flex: 0 0 50vw;
  order: 3;
  display: flex;
  justify-content: center;
}

aside img {
  flex-direction: row;
  max-height: 85vh;
  width: auto;
  align-self: center;
}

#main-nav {
  display: flex;
  justify-content: space-evenly;
  order: -1;
  /* flex-wrap: nowrap; */
}
#logo {
  color: white;
  background: navy;
  align-self: flex-end;
  justify-self: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  font-size: 3em;
  order: 1;
}

#main-nav-list {
  order: 2;
}


#main-nav-list ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
  list-style: none;
  order: 2;
}

#main-nav-list li {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  max-width: 180px;
  text-decoration: none;
  color: rgb(61, 20, 158);
  flex: 1;
  align-self: center;
}

.main-nav a:hover, .main-nav a:focus {
  color: rgb(240, 160, 11);
}

.current {
  color: rgb(240, 160, 11) !important;
}

footer {
  background: rgb(211, 207, 174);
  height: 3vh;
  order: 99;
  text-align: center;
}

@media all and (max-width: 1000px) {
  #main {
    flex-wrap: wrap;
  }
  .main-nav a {
    /* max-width: 500px; */
    font-size: 2rem;
  }
  #main-nav-list ul {
    flex-wrap: wrap;
  }
  /* In order for wrap to work, the children need a basis. */
  #main-nav-list li {
    flex: 1 1 50%;
  }
}

@media all and (max-width: 500px) {
  #logo {
    width: 100ch;
    flex: 1 1 100%;
  }
  #main-nav {
    flex-wrap: wrap;
  }
  #main-nav-list li {
    flex-basis: 100%;
  }
}